
html {
  margin:0;
  padding:0;
  background: url(image/foret3..png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
#bg1 {
  background: url(image/souche.png) center 0 no-repeat fixed;
}

#bg2 {
  background: url(image/dresseurs.png) center 0 no-repeat fixed;
}

#bg3 {
  background: url(image/bush.png) center 0 no-repeat fixed;

}
body {

}
.titre{
  text-align: center;
  height: 200px;
}

.hero{
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.dresseur_d1{
  height: 100%;
}

h2{
  font-family: 'WaltographRegular';
   font-size: 40px;
   font-weight: normal;
   font-style: italic;
  background: rgba(0, 191, 255, 0.2);
  margin-bottom: 40px;
  box-shadow: 0 0 20px 0 rgba(0, 191, 255, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
  height: 35px;
}
#pok_d2{
  margin-left: 50%;
}
.att_d2{
  margin-left: 50%;
}
h3{
  font-family: 'WaltographRegular';
   font-size: 30px;
   font-weight: normal;
   font-style:  normal;
  background: rgba(0, 191, 255, 0.2);
  box-shadow: 0 0 20px 0 rgba(0, 191, 255, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    height: 25px;
    width: 120px;
    text-align:   center;
}

form {

    width:50%;
    padding: 10px;
    border: 1px   #f1f1f1;
    background: rgba(0, 191, 255, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 191, 255, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
input{
  font-family: 'GnraleStationExtended';
  font-size: 10px;
   font-weight: normal;
   font-style: normal;
  background: rgba(0, 191, 255, 0.5);
  width: 100px;
  height: 35px;


}
.ptVie_d1 {
  background-image: url(image/coeur.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  margin-top: 10px;
}
progress{
  margin-left: 45px;
  margin-top: 5px;
  width: 150px;
  height: 30px;
  border: solid black;
  border-radius: 10px;
  background-color: red;
}

.ptVie_d2{
  background-image: url(image/coeur.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  margin-top: 10px;

}
.dresseur_d2{
  margin-right: 1%;

}
.arene{
display: flex;

justify-content: space-between;

margin-left: 10%;
margin-right: 10%;
width:100%;

}
.pokemon_d1{
  background-image: url(image/salameche_d2.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  margin-left: 5%;
 margin-top: 250px;
}
.carapuce_d1{
  background-image: url(image/carapuce_d2.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  margin-left: 5%;
 margin-top: 250px;
}
.fantominus_d1{
  background-image: url(image/fantominus_d2.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  margin-left: 5%;
  margin-top: 250px;
}
.salameche_d1{
  background-image: url(image/salameche_d2.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  margin-left: 5%;
  margin-top: 250px;
}
.bulbizarre_d1{
  background-image: url(image/bulbizarre_d2.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  margin-left: 5%;
  margin-top: 250px;
}




.combat{
  width: 100%;



}
.pokemon_d2{
  background-image: url(image/carapuce_d1.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  margin-left: 5%;
  margin-top: 250px;
}
.carapuce_d2{
  background-image: url(image/carapuce_d1.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  margin-left: 5%;
 margin-top: 250px;
}
.fantominus_d2{
  background-image: url(image/fantominus_d1.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  margin-left: 5%;
 margin-top: 250px;
}
.salameche_d2{
  background-image: url(image/salameche_d1.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  margin-left: 5%;
 margin-top: 250px;
}
.bulbizarre_d2{
  background-image: url(image/bulbizarre_d1.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  margin-left: 5%;
 margin-top: 250px;
}




footer{
text-align: center;
}
